.container {
  position: relative;
}
.container > p {
  font-family: 'Sans-Narrow';
  font-size: 14px;
  color: #f35e5e;
  margin: -5px 5px 0 5px;
}
.input {
  height: 30px;
  width: 200px;
  border: 2px solid #e7e7e7;
  border-radius: 4px;
  padding: 0 25px 0 10px;
  color: darkcyan;
  outline: none;
  transition: 0.05s;
}
.input:focus {
  border: 3px solid darkcyan;
  transition: 0.05s;
}
.image {
  position: absolute;
  top: 7px;
  right: 7px;
  height: 16px;
}
.notValid {
  color: darkred;
  border: 2px solid #f35e5e;
  transition: 0.05s;
}
.notValid:focus {
  border: 3px solid #f35e5e;
  transition: 0.05s;
}
